/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  
  body {
    background-color: #361d36;
    color: #88b6e0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
  }
  
  
  /******************************************
  /* LAYOUT
  /*******************************************/

  button {
    padding: 1em;
    font-size: 200%;
    background-color: #76a5d1e3;
    border: 5px solid #88b6e0;
    border-radius: 10px;
  }

  button:hover {
    background-color: #6391bb;
  }

  button:active {
    background-color: #88b5e0e3;
  }


  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  